<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.capstoneplugin.plugin"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!-- suppressed allowBackup deprecation with ignore:DataExtractionRules -->
    <application
        android:allowBackup="false"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="DataExtractionRules">
        <meta-data
            android:name="plugin-api"
            android:value="${atakApiVersion}" />
        <meta-data
            android:name="app_desc"
            android:value="@string/app_desc" />


        <!-- This fictitious activity entry allow for ATAK 4.6.0.2 and newer to perform
             plugin discovery for android devices.  If this is removed, the plugin will
             not be able to be discovered or loaded.  -->
        <!-- Added suppression below, component is intentionally non-existent -->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.atakmap.app.component"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothTrackerService"
            android:exported="true"
            android:label="ATAK Bluetooth Tracker Service"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.atakmap.tracking.actions.START_SCANNING" />
                <action android:name="com.atakmap.tracking.actions.STOP_SCANNING" />
            </intent-filter>
        </service>
        <service android:name=".AtakBtService" android:exported="true"/>
    </application>

</manifest>
